.card-location {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  transition: height 0.5s;
}

.card-location:hover{
  height: 230px;
}

.card-location img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-location h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-location p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-location .card-location-infos {
  padding: 16px;
}
