<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1597083873080-0fec391476e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80);">
  <div class="container">
    <h1>Never miss good waves again!</h1>
    <p>Get a ride to your favourite beach.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <%@locations.each do |location|%>
    <%=link_to location_beaches_path(location), class:"link-to" do%>
      <div class="card-location">
        <img src="<%= location.image_url%>" />
        <div class="card-location-infos">
          <h2><%=location.name%></h2>
          <p><%=location.description%></p>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
